<section class="content-wrap">
	<h2 class="section-title">{{ 'campaigns_title' | translate }}</h2>

	<div class="setting-row">
		<div class="setting-header clearfix">
			<h3 class="pull-left">Кампания 1</h3>
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".user-grid">{{ 'device_add' | translate }}</button>
		</div>

		<div class="setting-body row">

			<div class="col-sm-4 setting-item">
				<h4>
					Очень длинный текст для обрезки 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>


		</div>
	</div>

	<div class="setting-row">
		<div class="setting-header clearfix">
			<h3 class="pull-left">Кампания 2</h3>
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".user-grid">{{ 'device_add' | translate }}</button>
		</div>

		<div class="setting-body row">

			<div class="col-sm-4 setting-item">
				<h4>
					Очень длинный текст для обрезки 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>
						
			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>


		</div>
	</div>

	<div class="setting-row">
		<div class="setting-header clearfix">
			<h3 class="pull-left">Кампания 3</h3>
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".user-grid">{{ 'device_add' | translate }}</button>
		</div>

		<div class="setting-body row">

			<div class="col-sm-4 setting-item">
				<h4>
					Очень длинный текст для обрезки 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>
		</div>
	</div>
</section>