<section class="content-wrap">
	<h2 class="section-title">Настройки доступа к устройствам</h2>

	<div class="setting-row">
		<div class="setting-header clearfix">
			<h3 class="pull-left">Устройство 1</h3>
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".user-grid">Добавить</button>
		</div>

		<div class="setting-body row">

			<div class="col-sm-4 setting-item">
				<h4>
					Очень длинный текст для обрезки 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>


		</div>
	</div>

	<div class="setting-row">
		<div class="setting-header clearfix">
			<h3 class="pull-left">Устройство 2</h3>
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".user-grid">Добавить</button>
		</div>

		<div class="setting-body row">

			<div class="col-sm-4 setting-item">
				<h4>
					Очень длинный текст для обрезки 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>

			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>
						
			<div class="col-sm-4 setting-item">
				<h4>
					Konstanin Konstantinopolski 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>


		</div>
	</div>

	<div class="setting-row">
		<div class="setting-header clearfix">
			<h3 class="pull-left">Устройство 3</h3>
			<button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".user-grid">Добавить</button>
		</div>

		<div class="setting-body row">

			<div class="col-sm-4 setting-item">
				<h4>
					Очень длинный текст для обрезки 
					<a class="edit" href="#"><i class="glyphicon glyphicon-pencil"></i></a>
					<a class="delete" href="#"><i class="glyphicon glyphicon-remove"></i></a>
				</h4>
			</div>
		</div>
	</div>
</section>


<div class="modal fade user-grid" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Добавить пользователя</h4>
			</div>

			<div class="modal-body">
			    <div class="add-company-list mCustomScrollbar">
			        <ul class="btn-group">
			            <li>
			                <label  class="btn btn-primary active">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>

			            <li>
			                <label  class="btn btn-primary">
			                    Петя Иванов
			                    <span class="glyphicon glyphicon-ok"></span>
			                </label>
			            </li>
			        </ul>
			    </div>
			    <div class="right-block">

					<div class="checkbox">
						<label>
							<input type="checkbox"> Чтение
						</label>
					</div>

					<div class="checkbox">
						<label>
							<input type="checkbox"> Запись
						</label>
					</div>
			    </div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-success">Добавить</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
			</div>
		</div>
	</div>
</div>