<section class="content-wrap">
	<h2 class="section-title">{{ 'users_title' | translate }}</h2>

	<div class="users-list">
	    <div class="add-company-list mCustomScrollbar">
	        <ul class="btn-group">
	            <li ng-repeat="user in users  | filter: { active: true, admin: false}" ng-click="selectUser(user)">
	                <label class="btn btn-primary"
	                	ng-class="selectedUser.id == user.id ? 'active' : ''">
	                    {{user.firstname}} {{user.surname}}
	                    <span class="glyphicon glyphicon-ok"></span>
	                </label>
	            </li>
	        </ul>
	    </div>

	    <div class="bottom-block clearfix">
	    	<div class="pull-left">
	    		<button type="button" class="btn btn-default" ng-click="openEditUser()">{{ 'modal_change' | translate }}</button>
	    		<button type="button" class="btn btn-default" 
	    			ng-click="deleteUser()"
	    			ng-hide="selectedUser.admin">{{ 'list_remove' | translate }}</button>
	    	</div>
	    	<div class="pull-right">
	    		<button type="button" class="btn btn-success" ng-click="openAddUser()">{{ 'settings_users_add_user' | translate }}</button>
	    	</div>
	    </div>
	</div>
</section>