<div class="user-grid">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span>&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">{{ 'modal_user_add_user' | translate }}</h4>
    </div>

    <div class="modal-body">
        <div class="add-company-list mCustomScrollbar">
            <ul class="btn-group">
                <li ng-repeat="device in devices | filter : {contains : false}" ng-click="selectDevice(device)">
                    <label  class="btn btn-primary"
                            ng-class="selectedDevicesIds.indexOf(device.id) == -1 ? '':'active'">
                        {{device.name}}
                        <span class="glyphicon glyphicon-ok"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="addDevices()">{{ 'modal_add' | translate }}</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">{{ 'modal_cancel' | translate }}</button>
    </div>
</div>