
<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Добавить пользователя</h4>
	<h4 class="modal-title" id="myModalLabel" ng-show="editMode">Изменить пользователя</h4>
</div>

<div class="modal-body">
	<form>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Имя" ng-model="data.firstname">
		</div>

		<div class="form-group">
			<input type="text" class="form-control" placeholder="Фамилия" ng-model="data.surname">
		</div>

		<div class="form-group">
			<input type="email" class="form-control" placeholder="E-mail" ng-model="data.email">
		</div>

		<div class="form-group">
			<input type="password" class="form-control" placeholder="Пароль" ng-model="data.password">
		</div>
	</form>		
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-click="addUser()" ng-hide="editMode">Добавить</button>
	<button type="button" class="btn btn-success" ng-click="editUser()" ng-show="editMode">Изменить</button>
	<button type="button" class="btn btn-default" ng-click="cancel()">Отмена</button>
</div>