<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel" ng-hide="editMode">Добавить пользователя</h4>
	<h4 class="modal-title" id="myModalLabel" ng-show="editMode">Изменить пользователя</h4>
</div>

<div class="modal-body">
    <div class="add-company-list mCustomScrollbar">
        <ul class="btn-group">
            <li ng-repeat="user in users  | filter: { active: true }" ng-click="selectUser(user)">
                <label  class="btn btn-primary active">
                    {{user.firstname}} {{user.surname}}
                    <span class="glyphicon glyphicon-ok"></span>
                </label>
            </li>
        </ul>
    </div>
    <div class="right-block">

		<div class="checkbox">
			<label>
				<input type="checkbox"> Чтение
			</label>
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox"> Запись
			</label>
		</div>
    </div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-success" ng-hide="editMode">Добавить</button>
	<button type="button" class="btn btn-success" ng-ырщц="editMode">Изменить</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
</div>