<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
    <appender name="DEVLOG" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="File" value="/var/log/tomcat7/promobox.log" />
        <param name="Append" value="true" />

        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="/var/log/tomcat7/promobox_%d.log.gz" />
        </rollingPolicy>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
    
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %5p %c{1}:%L - %m%n" />
        </layout>
    </appender>
    
    
    <logger name="ee.promobox">
        <!-- Other levels are: ALL, DEBUG, INFO, WARN, ERROR -->
        <level value="DEBUG"/>
    </logger>
    <logger name="org.apache.commons.httpclient">
        <!-- Other levels are: ALL, DEBUG, INFO, WARN, ERROR -->
        <level value="ERROR"/>
    </logger>
    <root>
        <priority value ="INFO"/>
        <appender-ref ref="DEVLOG"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>
