<div id="myDiv" style="margin-top:20px;"></div>
<div id="myDiv2"></div>

<div class="edit-campaign">
    <div class="center-block">
        <form role="form" name="campaign_form" ng-submit="edit_company(this)">
            <div class="form-group">
                <h4 class="main-title">{{ 'campaign_edit_editcompany' | translate }}</h4>
            </div>
            <div class="form-group name-company">
                <input type="text" class="form-control" style="width: 30%;" placeholder="{{ 'campaign_edit_companyname' | translate }}" ng-model="campaign_form.campaign_name" required>
            </div>

            <div class="load-files">

                <div class="load-file"
                     ng-class="promofile.fileType == 2 ? 'audio-file' : 'video-file'"
                     ng-repeat="promofile in campaign_form.filesArray">
                    <div class="load-wrap img-thumbnail">
                        <div>
                            <img ng-click="isFileConverting(promofile) ? false : openPlayer($index)" 
                                ng-src="{{apiEndpoint}}files/thumb/{{promofile.id}}" alt="">
                        </div>
                                                    
                        <ul class="controll-block" ng-if="promofile.fileType == 2">
                            <li class="Play-audio" 
                                ng-if="!isFileConverting(promofile)">
                                <a ng-click="openPlayer($index)"></a>
                            </li>
                            <li class="Play-on-device">
                                <a ng-click="playNextFile(promofile.id)"></a>
                            </li>
                            <li class="Arrow-menu">
                                <a href="#"></a>
                                
                                <ul>
                                    <li><a ng-click="inArchive(promofile.id)"><i class="delete"></i><span>{{'campaign_edit_deletefile' | translate }}</span></a></li>
                                </ul>
                            </li>
                        </ul>
                        
                        <p>{{promofile.name| limitTo: 30 | lowercase }}{{promofile.name.length > 30 ? '...' : ''}}</p>
                    </div>
                    <div class="Video-picture-wrap img-thumbnail" ng-if="promofile.fileType != 2">
                        <div class="cont">
                            <img ng-click="isFileConverting(promofile) ? false : openPlayer($index)"
                                 ng-src="{{apiEndpoint}}files/thumb/{{promofile.id}}"  alt="">

                            <a  ng-if="!isFileConverting(promofile)"
                                ng-click="openPlayer($index)"
                                class="play"></a>

                            <div class="bottom-block">
                                <span></span>
                                <ul class="controll-block pull-right">
                                    <li class="Play-on-device"><a ng-click="playNextFile(promofile.id)"></a></li>
                                    <li class="Arrow-menu">
                                        <a></a>

                                        <ul>
                                            <li><a ng-click="rotateFile(promofile.id, 90)"><i class="po"></i><span>{{'campaign_edit_clockwise' | translate }}</span></a></li>
                                            <li><a ng-click="rotateFile(promofile.id, 270)"><i class="protiv"></i><span>{{'campaign_edit_counterclockwise' | translate }}</span></a></li>
                                            <li><a ng-click="inArchive(promofile.id)"><i class="delete"></i><span>{{'campaign_edit_deletefile' | translate }}</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <ul id="playlist" style="list-style: none;">
                    <li ng-repeat="promofile in campaign_form.filesArray" 
                        ng-if="!isFileConverting(promofile)"
                        data-url="{{apiEndpoint}}files/{{promofile.id}}{{getFileExt(promofile)}}{{isWebmVideo() ? '?webm=true' : ''}}"
                        data-thumbnail-path="{{apiEndpoint}}files/thumb/{{promofile.Id}}"></li>
                </ul>
            </div>

            <div class="row upload-wrap" 
                ng-show="campaign.permissionWrite"
                nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">

                <div class="form-group  col-md-9">
                    <div class="form-group">
                        <span class="file-input btn btn-primary btn-file">
                            {{ 'campaign_edit_browse' | translate }}&hellip; <input type="file" nv-file-select="" uploader="uploader" multiple  />
                        </span>
                    </div>
                    <div ng-show="uploader.queue.length > 0">
                        <p>{{ 'campaign_edit_queuelength' | translate }}: {{ uploader.queue.length}}</p>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="50%">{{ 'campaign_edit_name' | translate }}</th>
                                    <th ng-show="uploader.isHTML5">{{ 'campaign_edit_size' | translate }}</th>
                                    <th ng-show="uploader.isHTML5">{{ 'campaign_edit_progress' | translate }}</th>
                                    <th>{{ 'campaign_edit_status' | translate }}</th>
                                    <th>{{ 'campaign_edit_actions' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in uploader.queue">
                                    <td><strong class="file-name">{{ item.file.name}}</strong></td>
                                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                    <td ng-show="uploader.isHTML5">
                                        <div class="progress" style="margin-bottom: 0;">
                                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                    </td>
                                    <td nowrap>
                                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> {{ 'campaign_edit_upload' | translate }}
                                        </button>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> {{ 'campaign_edit_cancel' | translate }}
                                        </button>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                            <span class="glyphicon glyphicon-trash"></span> {{ 'campaign_edit_remove' | translate }}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <div>
                                {{ 'campaign_edit_queueprogress' | translate }}:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> {{ 'campaign_edit_uploadall' | translate }}
                            </button>
                            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> {{ 'campaign_edit_cancelall' | translate }}
                            </button>
                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                <span class="glyphicon glyphicon-trash"></span> {{ 'campaign_edit_removeall' | translate }}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            
            
            <div class="row settings-wrap" ng-hide="settingsVisible">
                <div class="form-group campaigns_block col-sm-5">

                    <div class="clearfix setting-btn">
                        <a class="pull-left btn btn-default" ng-click="showSettings(true)"><span class="glyphicon glyphicon-cog"></span>{{ 'campaign_edit_showsettings' | translate }}</a>
                    </div>
                </div>
            </div>

            <div class="row settings-wrap" ng-show="settingsVisible">
                <div class="form-group campaigns_block col-sm-5">

                    <div class="clearfix setting-btn">
                        <a class="pull-left btn btn-default" ng-click="showSettings(false)"><span class="glyphicon glyphicon-cog"></span>{{ 'campaign_edit_hidesettings' | translate }}</a>
                        <a class="pull-right btn btn-default" data-toggle="modal" data-target="#statistics" href="javascript:void(0)"><span class="glyphicon glyphicon-stats"></span>{{ 'list_statistics' | translate }}</a>
                    </div>

                    <div class="row label-row">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>{{ 'campaign_edit_changetime' | translate }}</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            
                            <ui-select ng-model="campaign_form.campaign_time" theme="select2" search-enabled="false">
                                <ui-select-match placeholder="{{'select_pick' | translate }}">{{formatCampaignTime(campaign_form.campaign_time)}}</ui-select-match>
                                <ui-select-choices repeat="time in campaignTimes">
                                    <span>{{formatCampaignTime(time)}}</span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="row label-row order">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>{{ 'campaign_edit_theorder' | translate }}</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <ui-select ng-model="campaign_form.campaign_order" theme="select2" search-enabled="false">
                                <ui-select-match placeholder="{{'select_pick' | translate }}">{{orderName(campaign_form.campaign_order)}}</ui-select-match>
                                <ui-select-choices repeat="order in campaignOrders">
                                    <span>{{orderName(order)}}</span>
                                </ui-select-choices>
                            </ui-select>
                            <button type="button" 
                                ng-show="campaign.permissionWrite"
                                class="btn btn-info pull-right" data-toggle="modal" data-target="#sorting">{{ 'campaign_edit_setup' | translate }}</button>
                        </div>
                    </div>
                    <div class="row label-row">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>{{ 'campaign_edit_dateofstart' | translate }}</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <div class="datepicker-wrap">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="timestart" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   value="{{ campaign_form.campaign_start | date:'medium'}}"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>

                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="campaign_form.campaign_start"
                                                        data-date-format="yyyy-mm-dd"
                                                        data-datetimepicker-config="{ dropdownSelector: '#timestart', startView:'day', minView:'day' }"/>
                                    </ul>
                                </div>
                            </div>

                            <div class="day-wrap">
                                <ui-select ng-model="campaign_form.campaign_start_time" theme="select2">
                                    <ui-select-match placeholder="{{'select_pick' | translate }}">{{formatWorkingHours(campaign_form.campaign_start_time)}}</ui-select-match>
                                    <ui-select-choices repeat="hour in workhours  | filter: $select.search">
                                        <span ng-bind-html="formatWorkingHours(hour) | highlight: $select.search"</span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row label-row with-border">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>{{ 'campaign_edit_dateofclosure' | translate }}</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <div class="datepicker-wrap">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="timefinish" role="button" data-toggle="dropdown" data-target="#" href="#">
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                   value="{{ campaign_form.campaign_finish | date:'medium'}}"/>
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>

                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="campaign_form.campaign_finish"
                                                        data-date-format="yyyy-mm-dd"
                                                        data-datetimepicker-config="{ dropdownSelector: '#timefinish', startView:'day', minView:'day' }"/>
                                    </ul>
                                </div>
                            </div>

                            <div class="day-wrap">
                                <ui-select ng-model="campaign_form.campaign_finish_time" theme="select2">
                                    <ui-select-match placeholder="{{'select_pick' | translate }}">{{formatWorkingHours(campaign_form.campaign_finish_time)}}</ui-select-match>
                                    <ui-select-choices repeat="hour in workhours  | filter: sanitizeWorkingHours($select.search)">
                                        <span ng-bind-html="formatWorkingHours(hour) | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>

                    <div class="row label-row">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>{{ 'campaign_edit_workdays' | translate }}</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <div class="btn-group days">
                                <label ng-repeat="day in workdays" class="btn btn-primary" 
                                       ng-class="checkedDays.indexOf(day) != - 1 ? 'active': ''"
                                       ng-click="toggleCheckDays(day)">
                                    {{ day | translate }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row label-row opening-hours">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>{{ 'campaign_edit_openinghours' | translate }}</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <div class="hours-list btn-group mCustomScrollbar">
                                <label ng-repeat="hour in workhours" 
                                       ng-show="checkedHours.indexOf(hour) != - 1" 
                                       class="btn"
                                       ng-class="removeWorkhours.indexOf(hour) != - 1 ? 'active': ''"
                                       ng-click="toggleWorkHours(removeWorkhours, hour)">
                                    {{formatWorkingHours(hour)}}
                                </label>
                            </div>

                            <div class="hours-arrow">
                                <a data-toggle="tooltip" data-placement="top" title="{{ 'campaign_edit_add' | translate }}"
                                   ng-click="addWorkingHours()">
                                    <span class="glyphicon glyphicon-chevron-left"></span></a>
                                <a data-toggle="tooltip" data-placement="top" title="{{ 'campaign_edit_delete' | translate }}"
                                   ng-click="removeWorkingHours()">
                                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                            <div class="hours-list btn-group gray mCustomScrollbar">
                                <label ng-repeat="hour in workhours" 
                                       ng-hide="checkedHours.indexOf(hour) != - 1"
                                       class="btn"
                                       ng-class="addWorkhours.indexOf(hour) != - 1 ? 'active': ''"
                                       ng-click="toggleWorkHours(addWorkhours, hour)">
                                    {{formatWorkingHours(hour)}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row button-wrap" ng-show="campaign.permissionWrite">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{{ 'campaign_edit_savethecompany' | translate }}</button>
                    <button ui-sref="list" type="button" class="btn btn-default" style="margin-left: 15px;" ng-click="close_settings()">{{ 'campaign_edit_cancel' | translate }}</button>
                    <button type="button" class="btn btn-default pull-right" ng-click="remove_company()">{{'list_remove'| translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal statistics -->
<div class="modal fade" id="statistics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">{{"campaign_edit_statistics"| translate}}</h4>
            </div>
            <div class="modal-body">
                <ul class="statistics-list">

                    <li>
                        <div class="img-block">
                            <img src="img/files.png" alt="">
                        </div>
                        <span>{{campaign_stat.campaign_count_files}}</span>
                        <p >{{'campaign_edit_allfilescount'| translate}}</p>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="img/pic.png" alt="">
                        </div>
                        <span>{{campaign_stat.campaign_count_images}}</span>
                        <p>{{"campaign_edit_allimagescount"| translate}}</p>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="img/video.png" alt="">
                        </div>
                        <span>{{campaign_stat.campaign_count_videos}}</span>
                        <p>{{"campaign_edit_allvideoscount"| translate}}<br/>{{campaign_stat.campaign_video_length | humanLength}}</p>
                    </li>

                    <li>
                        <div class="img-block">
                            <img src="img/songs.png" alt="">
                        </div>
                        <span>{{campaign_stat.campaign_count_audios}}</span>
                        <p>{{"campaign_edit_allaudioscount"| translate}}<br/>{{campaign_stat.campaign_audio_length | humanLength}}</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<!-- Modal sorting-->
<div class="modal fade" id="sorting" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">{{ 'campaign_edit_changefilesorder' | translate }}</h4>
            </div>
            <div class="modal-body">
                <div class="files-block mCustomScrollbar">
                    <ul ui-sortable="fileSort" ng-model="campaign_form.filesArray" class="files-list btn-group">
                        <li ng-repeat="promofile in campaign_form.filesArray"
                            ng-click="file_sort_select_file(promofile)">
                            <label class="btn btn-primary"
                                   ng-class="promofile.id == selectedFile.id ? 'active' : ''">
                                <input type="checkbox" autocomplete="off" checked>
                                <i></i><span>{{promofile.name}}</span>
                            </label>
                        </li>

                    </ul>
                </div>
                <div class="controll-block">
                    <button type="button" class="btn btn-default"
                            ng-click="file_sort_top()">{{ 'toBegin' | translate }}</button>
                    <button type="button" class="btn btn-primary"
                            ng-click="file_sort_up()"><span class="glyphicon glyphicon-chevron-up"></span>{{ 'up' | translate }}</button>
                    <button type="button" class="btn btn-primary"
                            ng-click="file_sort_down()"><span class="glyphicon glyphicon-chevron-down"></span>{{ 'down' | translate }}</button>
                    <button type="button" class="btn btn-default"
                            ng-click="file_sort_bottom()">{{ 'toEnd' | translate }}</button>
                </div>
                <div class="bottom-buttons">
                    <button type="button" class="btn btn-success" data-dismiss="modal" 
                            ng-click="reorder_files()">{{ 'list_change' | translate }}</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'campaign_edit_cancel' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>