<div class="row">
    <div class="col-md-9 center-block">
        <form role="form" name="campaign_form" ng-submit="edit_company()">
            <div class="row">
                <div class="form-group">
                    <h4>Редактировать кампанию</h4>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" style="width: 30%;" placeholder="Название кампании" ng-model="campaign_form.campaign_name" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <!--  Playlist -->
                    <ul id="playlist" onclick="FWDRL.show('playlist', 2);">
                        <li ng-repeat="promofile in campaign_form.filesArray" data-url="http://api.dev.promobox.ee/service/files/{{ promofile.id }}"  data-thumbnail-path="http://api.dev.promobox.ee/service/files/thumb/{{ promofile.id }}" data-width="300">
                            <div>
                                <p>{{promofile.name}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="form-group campaigns_block col-md-4">
                    <div class="form-group">
                        <span ng-repeat="promofile in campaign_form.filesArray" style="color: #b6b6b6; display: block;">{{promofile.name}} <i ng-click="inArchive(promofile.id)" class="glyphicon glyphicon-remove"></i></span>
                    </div>

                    <div class="form-group">
                                <span class="file-input btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" ng-file-select="onFileSelect($files)" multiple>
                                </span>
                    </div>

                    <div class="form-group">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="{{procent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{procent}}%">
                                <span class="sr-only" style="position: static;">{{procent}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group campaigns_block col-sm-6">
                    <div class="row">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>Активность кампании</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <select class="form-control" ng-model="campaign_form.campaign_status">
                                <option value="0">Приостановлена</option>
                                <option value="1">Запущена</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>Время смены</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <select class="form-control" ng-model="campaign_form.campaign_time">
                                <option value="5">5 мин</option>
                                <option value="10">10 мин</option>
                                <option value="15">15 мин</option>
                                <option value="20">20 мин</option>
                                <option value="30">30 мин</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>Порядок</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <select class="form-control" ng-model="campaign_form.campaign_order">
                                <option value="1">случайно</option>
                                <option value="2">подряд</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>Дата начала</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <p class="input-group" ng-controller="DatepickerCtrl">
                                <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="campaign_form.campaign_start" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 col-xs-3 col-sm-4"><label>Дата конца</label></div>
                        <div class="col-md-7 col-xs-9 col-sm-8">
                            <p class="input-group" ng-controller="DatepickerCtrl">
                                <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="campaign_form.campaign_finish" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Сохранить кампанию</button>
                    <button ui-sref="list" type="button" class="btn btn-default" style="margin-left: 15px;">Отмена</button>
                </div>
            </div>
        </form>

    </div>
</div>