<div class="row">
    <div class="col-md-10 center-block">
        <button ng-click="add_device()" type="button" class="btn btn-primary" style="margin-left: -15px;">Новое устройство</button>
    </div>
</div>

<div class="row" ng-repeat="device in devices">
    <div class="col-md-7 center-block campaigns_block">
        <div class="row">
            <div class="col-md-3"><img src="img/device_zaglushka.png" alt="" /></div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="control-label">Нормер устройства: {{device.uuid}}</label>
                    <span ng-if="device.status == 1" class="label label-success pull-right">Статус</span>
                    <span ng-if="device.status == 2" class="label label-danger pull-right">Статус</span>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="device.campaignId" data-ng-options="campaign.id as campaign.name for campaign in device.campaigns">
                        <option value="">Выберите Кампанию</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="device.orientation">
                        <option value="1">Горизонтальная оритация</option>
                        <option value="2">Вертикальная оритация</option>
                    </select>
                </div>
                <div class="form-group" style="margin-bottom: 0px;">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <select class="form-control" ng-model="device.resolution">
                                <option value="1">1920x1080</option>
                                <option value="2">1366x768</option>
                                <option value="3">1280x1024</option>
                                <option value="4">1280x800</option>
                                <option value="5">1024x768</option>
                            </select>
                        </div>
                        <!--<div class="form-group" style="margin-left: 15px;">-->
                            <!--<div class="checkbox">-->
                                <!--<label>-->
                                    <!--<input type="checkbox"> Звук-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    </form>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group pull-right">
                    <span style="font-weight: bolder;">Свободное место: {{byteToBig(device.space)}}</span>
                </div>
                <!--<div class="form-group pull-right">-->
                    <!--<button type="button" class="btn btn-warning">Очистить кэш</button>-->
                <!--</div>-->
                <div class="form-group pull-right">
                    <button ng-click="change_device(device)" type="button" class="btn btn-success" style="margin-right: 5px;">Сохранить</button>
                </div>
                <div class="form-group pull-right">
                    <button ng-click="delete_device(device)" type="button" class="btn btn-success" style="margin-right: 5px;">Удалить</button>
                </div>
            </div>
        </div>
    </div>
</div>