<a class="copy-land" href="#">© 2015 Promobox</a>

<ul class="footer-nav">
    <li><a href="#">{{ 'footer_nav_about_us' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_privacy_policy' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_terms_of_use' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_contact' | translate }}</a></li>
</ul>


<div class="lang">
    <ui-select ng-model="lang.code"
            on-select="change_language(lang.code)" theme="select2" search-enabled="false">
        <ui-select-match placeholder="Pick one...">{{ 'lang_' + lang.code | translate }}</ui-select-match>
        <ui-select-choices repeat="l in langs">
            <span class="{{l}}">{{ 'lang_' + l | translate }}</span>
        </ui-select-choices>
    </ui-select>
</div><!-- .sec -->