<a class="copy-land" href="#">© 2015 Promobox</a>

<ul class="footer-nav">
    <li><a href="#">{{ 'footer_nav_about_us' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_privacy_policy' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_terms_of_use' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_contact' | translate }}</a></li>
</ul>


<div class="lang">
    <ui-select ng-model="currentLang"
            ng-change="change_language(currentLang)" theme="select2">
        <ui-select-match placeholder="Pick one...">{{currentLang.label}}</ui-select-match>
        <ui-select-choices repeat="lang.value as lang in langs">
            <span class="{{lang.value}}">{{lang.label}}</span>
        </ui-select-choices>
    </ui-select>
</div><!-- .sec -->