<a class="copy-land" href="#">© 2015 Promobox</a>

<ul class="footer-nav">
    <li><a href="#">{{ 'footer_nav_about_us' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_privacy_policy' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_terms_of_use' | translate }}</a></li>
    <li class="line"></li>
    <li><a href="#">{{ 'footer_nav_contacts' | translate }}</a></li>
</ul>


<div class="lang">
    <select ng-model="currentLang" 
            ng-change="change_language(currentLang)">
            <option ng-repeat="lang in langs" value="{{lang.value}}" class="{{lang.value}}">{{lang.label}}</option>
    </select>
</div><!-- .sec -->