<img class="small-logo" src="img/small_logo.png" alt="" />

<ul class="menu-nav-list">
    <li>
        <a ui-sref="device" ng-class="$root.left_menu_active == 'device' ? 'active' : ''" href>
            <span class="ico-block devices-ico"></span>
            {{ 'top_menu_devices' | translate }}
        </a>
    </li>
    <li>
        <a ui-sref="list" ng-class="$root.left_menu_active == 'campaign' ? 'active' : ''" href>
            <span class="ico-block comps-ico"></span>
            {{ 'top_menu_advertisingcampaigns' | translate }}
        </a>
    </li>
    
</ul>

<div class="setting-block" ng-class="{active: $root.showSettings}">

    <p class='btn-setting' href="#" 
        ng-click="$root.showSettings = !$root.showSettings">Настройки <span></span></p>

    <ul ng-show="$root.showSettings">
        <li>
            <a ui-sref="setting_account" ng-class="$root.left_menu_active == 'setting_account' ? 'active' : ''">
                <span class="ico-block acc-ico"></span>
                {{ 'settings_menu_account' | translate }}
            </a>
        </li>
        <li ng-show="admin">
            <a ui-sref="setting_user" ng-class="$root.left_menu_active == 'setting_user' ? 'active' : ''">
                <span class="ico-block user-ico"></span>
                {{ 'settings_menu_users' | translate }}
            </a>
        </li>
        <li ng-show="admin">
            <a ui-sref="setting_device" ng-class="$root.left_menu_active == 'setting_device' ? 'active' : ''">
                <span class="ico-block device-settings-ico"></span>
                {{ 'settings_menu_devises' | translate }}
            </a>
        </li>
        <li ng-show="admin">
            <a ui-sref="setting_campaign" ng-class="$root.left_menu_active == 'setting_campaign' ? 'active' : ''">
                <span class="ico-block comp-settings-ico"></span>
                {{ 'settings_menu_campaigns' | translate }}
            </a>
        </li>
        <li ng-show="admin">
            <a ui-sref="setting_payment" ng-class="$root.left_menu_active == 'setting_payment' ? 'active' : ''">
                <span class="ico-block payment-ico"></span>
                {{ 'settings_menu_payment' | translate }}
            </a>
        </li>
    </ul>
</div>