<div class="center-block campaigns-top-wrap" style="padding: 15px;">
    <div class="alert alert-info" role="alert" ng-show="campaigns.length == 0">
        <strong>{{ 'list_empty' | translate }}!</strong>
        <span ng-show="$root.admin">{{ 'list_createnewcampaign' | translate }}.</span>
    </div>

    <button ui-sref="campaign_new"
            ng-show="$root.admin" type="button" class="new-company-btn btn btn-primary">{{ 'list_newcampaign' |
        translate }}
    </button>
</div>


<div ng-repeat="campaign in campaigns" style="margin:0 15px 10px 15px;">
    <div class=" center-block campaigns_wrap">
        <span ng-if="campaign.status == 2" class="label label-success">{{ 'list_works' | translate }}</span>
        <span ng-if="campaign.status == 3" class="label label-warning">{{ 'list_waiting' | translate }}</span>
        <span class="name">{{campaign.name}}</span>
        <span class="date">{{campaign.start | dateConvert}}-{{campaign.finish | dateConvert}}</span>

        <span class="pull-right">
 <!--            
            <a class="campaigns_link" data-toggle="modal" data-target=".stat" style="margin-right: 15px;"
               ng-click="show_statistics(campaign)"><i class="glyphicon glyphicon-signal"></i> {{ 'list_statistics' | translate }}</a>
 -->
            <a class="campaigns_link" href="/#/campaign/edit/{{campaign.id}}" style="margin-right: 15px;"><i
                    class="glyphicon glyphicon-pencil"></i> {{ 'list_change' | translate }}</a>
            
            <div class="menu-dropdown-campaigns">
                <span></span>

                <div class="dropdown-campaigns">
                    <ul>
                        <li><a href="#" data-toggle="modal" data-target="#installToGroup" href="javascript:void(0)"
                               ng-click="addToGroup(campaign)">{{ 'campaign_add_to_group' | translate }}</a></li>
                        <!--<li><a href="#">{{ 'campaign_add_to_group' | translate }}</a></li>-->
                        <li><a href="#" ng-click="copyCampaign(campaign)">{{ 'campaign_make_copy' | translate }}</a></li>
                    </ul>
                </div>

            </div>

            <!--<a class="campaigns_link" href="#"><i class="glyphicon glyphicon-remove"></i> Удалить</a>-->
        </span>
    </div>
</div>

<!-- Modal statistics -->
<div class="modal fade delete-campaigns " id="installToGroup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">{{"modal_campaign_add_to_group_or_devices"| translate}}</h4>
            </div>
            <div class="modal-body">
                <!--<div ng-repeat="group in groups" ng-show="group.devices.length > 0" class="acardion-wrap">-->
                    <!--<h4 ng-click="currentGroupId = (currentGroupId == group.id ? -1 : group.id)" class="acardion-title"-->
                        <!--ng-class="{active: group.id == currentGroupId}"><i></i>{{group.name}}-->
                        <!--<span>{{group.devices.length}} {{ 'device_devices_multiple' | translate }}</span>-->
                    <!--</h4>-->
                    <!--<div class="checkbox pull-right">-->
                        <!--<label><input type="checkbox" ng-model="group.selected" ng-change="selectGroup(group)"></label>-->
                    <!--</div>-->

                    <!--<div class="add-company-list mCustomScrollbar" ng-show="currentGroupId == group.id">-->
                        <!--<ul class="btn-group">-->
                            <!--<li ng-repeat="device in group.devices" ng-click="selectDevice(device,group)">-->
                                <!--<label class="btn btn-primary" ng-class="device.selected ? 'active' : ''">-->
                                    <!--{{device.name}}-->
                                    <!--<span class="glyphicon glyphicon-ok"></span>-->
                                <!--</label>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->

                <p>Выберите кампании, которые вы хотите удалить</p>

                <div class="setting-row" ng-repeat="group in groups" ng-show="group.devices.length > 0">
                    <div class="setting-header clearfix">
                        <h3 class="pull-left"
                            ng-class="{active: group.id == currentGroupId}"><i></i>{{group.name}}
                            {{group.devices.length}} {{ 'device_devices_multiple' | translate }}
                        </h3>

                        <button type="button" class="btn btn-default btn-select-all pull-right"
                            ng-click="selectGroup(group)">
                            <i class="glyphicon glyphicon-ok" ng-show = "group.selected"></i>{{ 'modal_campaign_select_whole_group' | translate }}
                        </button>
                    </div>

                    <div class="setting-body row">

                        <div class="col-md-4 setting-item device-groups"
                            ng-repeat="device in group.devices"
                            ng-click="selectDevice(device,group)">
                                <h4 ng-class="device.selected ? 'active' : ''" >
                                    {{device.name}}
                                    <i class="delete glyphicon glyphicon-ok"></i>
                                </h4>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="confirm()">{{ 'modal_confirm' | translate }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'modal_cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>