<div class="container">
    <div class="row" style="width: 300px; margin-left: auto; margin-right: auto; margin-top: 120px;">
        <div class="well-sm" style="text-align: center;"><strong>Sign in</strong></div>
    </div>
    <div class="row form_border" style="width: 300px; margin-left: auto; margin-right: auto;">
        <form role="form" name="login_form" ng-submit="login()">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                        <input ng-model="login_form.email" type="email" class="form-control" name="InputEmail" id="InputEmail" placeholder="E-mail" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner-addon left-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                        <input ng-model="login_form.password" type="password" class="form-control" id="InputPassword" name="InputPassword" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input ng-model="login_form.remember" type="checkbox"> Remember
                        </label>
                    </div>
                </div>
                <input type="submit" name="signin" id="signin" value="Sign in" class="btn btn-block btn-success">

                <a class="pull-left form_link" href="#">Forgotten password?</a>
                <a class="pull-right form_link" href="/#/registration">Register</a>
            </div>
        </form>

    </div>
</div>