<div>
    <span class="pull-right" style="margin: 10px;"><a href="/#/exit">Выход</a></span>
    <span class="pull-right" style="margin: 10px;">{{ token }}</span>
</div>

<tabset justified="false">
    <tab heading="Кампании">
        <div style="width: 60%; margin-right: auto; margin-left: auto;">
            <button class="btn btn-primary btn-lg btn-block" style="margin-bottom: 20px;" onclick="window.location.href='/#/campaign/new'">Новая кампания</button>

            <alert type="success" ng-repeat="campaign in campaigns" close="remove(campaign)" style="height: 50px;">
                <span class="pull-left">{{campaign.name}}</span>
                <span class="pull-right"><a href="/#/campaign/edit/{{campaign.id}}">Edit</a></span>
            </alert>
        </div>

    </tab>
    <tab heading="Устройства">
        Страница Устройств
    </tab>
</tabset>