<div>
    <span class="pull-right" style="margin: 10px;"><a href="/#/exit">Выход</a></span>
    <span class="pull-right" style="margin: 10px;">{{ token }}</span>
</div>

<tabset justified="false">
    <tab heading="Кампании">
        <div style="width: 60%; margin-right: auto; margin-left: auto;">
            <button class="btn btn-primary btn-lg btn-block" style="margin-bottom: 20px;" onclick="window.location.href='/#/campaign/new'">Новая кампания</button>

            <alert type="success" ng-repeat="campaign in campaigns" close="remove(campaign)" style="height: 50px;">
                <span class="pull-left">{{campaign.name}}</span>
                <span class="pull-right"><a href="/#/campaign/edit/{{campaign.id}}">Edit</a></span>
            </alert>
        </div>

    </tab>
    <tab heading="Устройства">
        <div style="width: 80%; margin-right: auto; margin-left: auto;">
            <button class="btn btn-primary btn-lg btn-block" style="margin-bottom: 20px;">Новое устройство</button>

            <div class="row">
                <div class="col-sm-2">
                    <img src="img/deviceIMG.png">
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <h3>Нормер устройства: 7468</h3>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="1">Кампания 1</option>
                            <option value="2">Кампания 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="1">Гаризонтальное</option>
                            <option value="2">Вертикальное</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option value="1">Разрешить</option>
                            <option value="2">Запретить</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-8">
                            <img src="img/stop.png" alt="" class="img-circle pull-right">
                            <button class="btn btn-primary btn-lg btn-block">Загрузить кампанию</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            Свободное место: 6Гб
                            <button class="btn btn-primary btn-lg btn-block">Очистить кеш</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tab>
</tabset>