<div class="container">
    <div class="row" style="width: 300px; margin-left: auto; margin-right: auto; margin-top: 60px;">
        <div class="well-sm" style="text-align: center;"><strong>{{ 'registration_form_register' | translate }}</strong></div>
    </div>
    <div class="row form_border" style="width: 300px; margin-left: auto; margin-right: auto;">
        <form role="form">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="text" class="form-control" name="InputFirstname" id="InputFirstname" placeholder="{{ 'registration_form_firstname' | translate }}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="InputLastname" id="InputLastname" placeholder="{{ 'registration_form_lastname' | translate }}" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="InputCompany" id="InputCompany" placeholder="{{ 'registration_form_company' | translate }}" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" name="InputEmail" id="InputEmail" placeholder="{{ 'registration_form_email' | translate }}" required>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{ 'registration_form_confirmthe' | translate }} <a class="text_link" href="#">{{ 'registration_form_termsandconditions' | translate }}</a>
                        </label>
                    </div>
                </div>
                <input ui-sref="login" type="button" name="cancel" id="cancel" value="{{ 'registration_form_cancel' | translate }}" class="btn btn-default pull-left" style="width: 35%;">
                <input type="submit" name="register" id="register" value="{{ 'registration_form_register' | translate }}" class="btn btn-success pull-right" style="width: 60%;">
            </div>
        </form>
    </div>
</div>
