<div class="row" style="height: 97px;">
            <span class="pull-right" style="height: 97px; line-height: 97px;">
                <span ng-click="change_language('lt')" class="lang-lg language_button" lang="lt"></span>
                <span ng-click="change_language('et')" class="lang-lg language_button" lang="et"></span>
                <span ng-click="change_language('ru')" class="lang-lg language_button" lang="ru"></span>
                <span ng-click="change_language('en')" class="lang-lg language_button" lang="en"></span>
            </span>
</div>