<div class="row" style="height: 56px;">
    <img style="margin-top: 5px;margin-bottom: 6px;margin-left: 10px;" src="img/small_logo.png" alt="" />
    <a ui-sref="list" class="top_link {{$root.top_link_active_list}}" href>Рекламные кампании</a>
    <a ui-sref="device" class="top_link {{$root.top_link_active_device}}" href>Устройства</a>
            <span class="pull-right" style="height: 56px; line-height: 56px;">
                <button type="button" class="btn btn-custom-lighten">Фирма</button>
                <button ui-sref="exit" type="button" class="btn btn-custom-lighten">Выход</button>
            </span>
</div>